<div id="<%= dom_id oenologist %>">
  <p>
    <strong>Name:</strong>
    <%= oenologist.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= oenologist.age %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= oenologist.nationality %>
  </p>

</div>
