<h1>Editing oenologist</h1>

<%= render "form", oenologist: @oenologist %>

<br>

<div>
  <%= link_to "Show this oenologist", @oenologist %> |
  <%= link_to "Back to oenologists", oenologists_path %>
</div>
