<div id="<%= dom_id assembly %>">
  <p>
    <strong>Percentage:</strong>
    <%= assembly.percentage %>
  </p>

  <p>
    <strong>Wine:</strong>
    <%= assembly.wine_id %>
  </p>

  <p>
    <strong>Strain:</strong>
    <%= assembly.strain_id %>
  </p>

</div>
